       /* Stilizare generală pentru containerul cardurilor */
       .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        justify-content: center; 
    }
    
    /* Stilizare pentru fiecare card */
    .card {
        width: calc(50% - 10px); 
        border: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); 
        text-align: left; 
        background: white; 
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    }
    
    /* Efect la hover pentru carduri */
    .card:hover {
        transform: translateY(-5px); 
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); 
    }
    
    /* Stilizare pentru titlu */
    .card h3 {
        color: #333; 
        margin-bottom: 12px; 
        font-size: 24px; 
    }
    
    /* Stilizare pentru conținut */
    .card p {
        margin: 5px 0 0; 
        color: #666; 
        font-size: 16px; 
    }
    
    /* Stilizare specifică pentru carduri în funcție de anul cursului */
    .first-year {
        background-color: #e3f2fd; /* Nuanță subtilă de albastru */
    }
    
    .second-year {
        background-color: #fce4ec; /* Nuanță subtilă de roz */
    }
    
    .third-year {
        background-color: #e8f5e9; /* Nuanță subtilă de verde */
    }
    
    .fourth-year {
        background-color: #fffde7; /* Nuanță subtilă de galben */
    }

    .licenta {
        background-color: #ffecc1; /* Nuanță subtilă de portocaliu */
    }
    