.active {
  background-color: #606c81b3;
  text-decoration-line: none;
}


.header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 20px; 
  background-color: #0D3165; 
}

.header h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding-right: 60px; 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.168); 
}


.header img {
  height: 80px; 
  width: auto; 
}






.error {

  background: #F2DEDE;

  color: #0c0101;

  padding: 10px;

  width: 95%;

  border-radius: 5px;

  margin: 20px auto;

}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  text-decoration-line: none;
}
 li a:hover
 {
   text-decoration-line: none;
 }



 .mesaj{
  text-align: center;
  color: #aa0478;
  padding: 40px;;
}



.container {
  width: 80%;
  margin: 0 auto;
}

